/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,menu{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: currentColor;
}
button{
    background-color: transparent;
    border: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}


/* LAYOUT */
.container-lg, .container, .container-sm{
    width: 100%;
    margin: 0 auto;
}
.container{
    max-width: 1200px;
}
.container-sm{
    max-width: 1040px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    width: calc(4*100%/12);
}
.col-5{
    width: calc(5*100%/12);
}
.col-6{
    width: calc(6*100%/12);
}
.col-7{
    width: calc(7*100%/12);
}
.col-8{
    width: calc(8*100%/12);
}


/* UTILITIES */
.flex{
    display: flex;
}
.btn{
    background-color:#0061ff;
    color: white;
    padding: 6px 15px;
    display: inline-block;
    text-align: center;
}
.section-title{
    font-size: 42px;
}
.subtitle{
    font-size: 22px;
    padding-bottom:20px; 
}
.text{
    font-size: 16px;
}
.text-sm{
    font-size: 14px;
}


/* HEADER */
.page__header .row {
    min-height: 80px;
    justify-content: space-between;
    padding: 0px 10px;
}
.header__list{
    align-items: center;
}
.page__header li{
    padding-right: 15px;
}
.page__header a:not(.btn){
    font-size: 16px;
    padding: 6px;
}
.page__header img{
    display: block;
    width: 160px;
}

/* HERO */
.hero{
    background-color:#b4d0e7;
    padding-top:90px; 
}
.hero__title{
    font-weight: 800;
    font-size: 72px;
    line-height: 100px;
}
.translate{
    transform:translateY(18%)
}
.flex.content{
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}
.content .text{
    line-height: 24px;
}
.content .btn {
    line-height: 32px;
}
.icon{
    font-weight: 800;
    font-size: 52px;
    margin-top: auto;
    margin-bottom: 90px;
}


/* BILLING SECTION */
.billing__section{
    margin-top:80px;
}
.billing__section .section-title{
    padding: 50px 20px;
}
.billing-radio{
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    margin-left: 20px;
}
label.text{
    padding-right: 50px;
}
.billing__section .container-sm {
    padding-bottom: 50px;
}

/* PLAN SECTION */
.row >.col-4 {
    padding:0 20px
}
.card{
    height: 100%;
    border: 2px solid #E5E5E7;
    padding-bottom: 30px;
}
.card__head i{
    padding-right: 10px;
}
.card__head{
    text-align: center;
    border-bottom:2px solid #E5E5E7;
    padding: 10px;
}
.card__body.flex{
    flex-wrap: wrap;
    justify-content:flex-start;
    row-gap: 20px;
    padding: 30px 18px;
}
.plan span{
    display:block;
}
.plan span:first-of-type{
    font-weight: 700;
    padding-bottom: 4px;
}
.plan span:last-of-type{
    color: #AAAFAF;
}
.plan__detail ul{
    min-height:200px;
    line-height: 20px;
}
.plan__detail li{
    display: flex;
    padding: 10px 0;
}
.plan__detail i{
    padding-right:12px;
}
.subscribe{
    flex-grow: 1;
}
.card .btn{
    width: 100%;
    height: 40px;
    line-height: 30px;
    margin-bottom: 30px;
}
.subscribe a:last-child{
    text-decoration: underline;
    color:blue;
}
.subscribe::after{
    display: block;
    content: '';
    width: 50px;
    border-bottom: 2px solid #E5E5E7;
    padding-bottom: 30px;
}
.plan__highlights h5{
    padding: 15px 0;
}
.plan__highlights li{
    display: flex;
    padding-bottom:15px;
}
.plan__highlights li::before{
    font-family: "Font Awesome 6 Free";
    content: '\f00c';
    margin-right: 5px;
    color: #0161FF;
    font-size: 18px;
    font-weight: 700;
}
.company{
    margin: 50px 20px;
    max-height: 250px;
}
.card__body .col-8{
    padding:30px;
}
.col-8 h5{
    padding-bottom: 30px;
}
.company .col-4{
    padding: 30px;
}


/* PARTNER SECTION */
.partner{
    align-items: center;
    margin-bottom: 80px;
}
.partner *[class^="col"]{
    padding: 20px;
}
.partner p{
    margin-bottom: 30px;
}
.partner .btn{
    line-height: 30px;
    background-color: white;
    color: black;
    border: 2px solid black;
}


/* BUSINESS SECTION */
.business {
    margin-bottom: 80px;
}
.business .section-title{
    margin-bottom: 30px;
    padding: 20px;
}
.business  .col-4{
    padding: 0 20px;
}
.business p{
    margin-bottom: 50px;
}
.business a {
    padding: 20px;
    color: blue;
    text-decoration: underline;
}


/* FREE TRIAL SECTION */
.free-trial{
    background-color:#B4D0E7 ;
    color: #61082B ;
    padding: 0 20px;
}
.free-trial .row{
    align-content: center;
    align-items:baseline;
    min-height: 360px;
}
.free-trial .btn{
    background-color:white;
    color: black;
    line-height: 36px;
    padding: 0 45px;
}