/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,menu{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: currentColor;
}
button{
    background-color: transparent;
    border: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* LAYOUT */
.container-lg{
    width: 100%;
    margin: 0 auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    width: calc(4*100%/12);
}
.col-8{
    width: calc(8*100%/12);
}

/* UTILITIES */
.flex{
    display: flex;
}
.btn{
    background-color:#0061ff;
    color: white;
    padding: 6px 15px;

}
/* HEADER */
.page__header .row {
    justify-content: space-between;
    padding: 20px 10px;
    line-height: 32px;
}
.page__header li{
    padding-right: 15px;
}
.page__header a:not(.btn){
    font-size: 16px;
    padding: 6px;
}
.page__header img{
    width: 150px;
}

/* HERO */
.hero{
    background-color:#b4d0e7;
    padding-top: 90px;
}
.hero__title{
    font-weight: 800;
    font-size: 72px;
    line-height: 100px;
    padding-bottom: 60px;
}
.text{
    font-size: 18px;
    padding-bottom: 30px;
    }
.content.flex{
    flex-direction: column;
    align-items: flex-start;
}
.content a{
    margin-bottom: 30px;
}
.icon{
    font-weight: 800;
    font-size: 52px;
    margin-top: auto;
    margin-bottom: 30px;
}